@body-bg: #fbfafa;

body {
  background-color: @body-bg;
  margin: 0;
  padding: 0;
}

#app { 
  width: 97%;
  margin: 0 auto;
  background-color: @body-bg;
}

ul, #links-ul-list {
  list-style-type: none;

  li:link {
    text-decoration: none;
  }
}