<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://"></script>
        <script></script>
        <script></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
                <button class='close'>X</button>
            </div>
        </header>

    Hello world

        <script src="../scripts/index.js"></script>
    </body>
</html>